@import "variables";

.hf-details-main-grid {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  background-color: #F0C881;
}

.hf-details
{
  width: 100%;
  color: black;
  padding-top: 32px;
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 54px;

  h1, h2, h3 {
    color: black;
    font-family: "Press Start 2P", sans-serif;
  }

  h1 {
    text-align: center;
    color: $odm-purple;
    font-family: "Press Start 2P", sans-serif;
    font-size: 32px;
    font-weight: bold;
  }

  .presentation-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
    .goal {
      font-size: 16px;
      font-family: "Press Start 2P", sans-serif;
      color: black;
      text-align: center;

      .label {
        color: red;
      }
    }

    .infos {
      font-family: "Press Start 2P", sans-serif;
      display: block;
      text-align: center;
    }
  }

  .hf-details-section {
    h3 {
      text-align: center;
      font-size: 16px;
      color: rgba(0, 0, 0, .75);
    }
  }

  .skill-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 54px;
    grid-row-gap: 12px;
  }
}