@import "variables";

.hf-page-title
{
  font-family: "Press Start 2P", sans-serif;
  font-size: 36px;
  color: white;
  margin: 48px 0;
}

.hf_list_item
{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  color: white;
  border: 5px solid #666666;
  padding: 16px;
  margin: 20px 0;

  .name
  {
    font-family: "Press Start 2P", sans-serif;
  }
}