@import "variables";

.hf-list-container {
  padding: 0 32px;
  width: 100%;
}

.hf-page-title
{
  font-family: "Press Start 2P", sans-serif;
  font-size: 36px;
  color: white;
  margin: 48px 0;
}

.hf-page-nav-btn
{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 8px;
}

.hf_list_item
{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.15);
  padding: 16px;
  margin: 20px 0;

  .name
  {
    font-family: "Press Start 2P", sans-serif;
  }
}