@import "variables";

.site-detail-main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    background-color: $odm-hf-details-bg;
  }

  .detail-page-title
  {
    font-family: "Press Start 2P", sans-serif;
    font-size: 36px;
    color: white;
    margin: 48px 0;
    text-align: center;
    grid-column: 1 / span 3; // Pour occuper toute la largeur de la grille
  }

  .site-detail
  {
    width: 100%;
    color: black;
    padding: 32px 0;
    grid-column: 2;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 54px;
  
    h1, h2, h3 {
      color: black;
      font-family: "Press Start 2P", sans-serif;
    }
  
    h1 {
      text-align: center;
      color: $odm-purple;
      font-family: "Press Start 2P", sans-serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 2;
    }
  
    .presentation-section {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 32px;
  
      .goal {
        font-size: 16px;
        font-family: "Press Start 2P", sans-serif;
        color: black;
        text-align: center;
    }
  
      .info-importante {
        font-size: 16px;
        font-family: "Press Start 2P", sans-serif;
        text-align: center;
        color: $secondary-color;
      }

    }
  
    .site-details-section {
      h3 {
        text-align: center;
        font-size: 16px;
        color: rgba(0, 0, 0, .75);
      }
    }
  
    .item-list {
      margin-top: 32px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: 54px;
      grid-row-gap: 12px;

      li {
        margin-bottom: 10px; // Ajoute une marge entre les éléments de la liste
        // Autres styles pour les éléments de la liste si nécessaire
    }
    }
}