.skill-card {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  background-color: #565D7E;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  justify-content: space-between;
  overflow-x: hidden;

  .skill {
    flex: 2;
  }

  .ip {
    flex: 1;
    padding-left: 8px;
    text-align: right;
  }
}