@import "variables";

.skill-card {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  background-color: $odm-skill-card-bg;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  justify-content: space-between;
  flex-wrap: wrap;

  .skill {
    flex: 2;
    line-height: 2;
  }

  .ip {
    flex: 1;
    padding-left: 8px;
    text-align: right;
  }
}