$background-color: #232323;
$primary-color: #F0D4A5;
$secondary-color: #E11F1F;
//$main-gradient: radial-gradient(80% 220% at 10% 50%, #0D4F78 0%, #224C6F 37%, #E92F1B 100%);
//$black-gradient: linear-gradient(70deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.45) 100%);

$card-padding: 20px;
