@import 'scss/reset';
@import 'scss/base';

@import 'scss/variables';

@import 'scss/navbar';

@import "scss/historical_figure_list_item";

@import "scss/hf_details";

@import "scss/skill_card";

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.4em;
  color: $primary-color;
  opacity: 0.75;
}

h2 {
  font-size: 1.5em;
  opacity: 0.75;
}

h2, h3, h4, h5, button {
  font-family: 'Inconsolata', sans-serif;
  color: $secondary-color;
}


#app, #map {
  height: 100%;
  width: 100%;
}
